*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: rgb(255, 255, 255);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
    position: relative;
    gap: 20px;
}

.text__title {
    position: relative;
    top: 0;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    
    
}

.text__title--h1{
   font-weight: 100;
    color: rgb(201, 198, 198);    
}

.text__title--h2 {
    font-weight: 600;

}

.text__title--desc {
    
    text-align: center;
}



.card__team {
    width: 300px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px ;
    box-shadow: 5px 5px 5px 5px;
    padding-left: 20px;
    padding-right: 20px;


}

.card__team--tea {
    position: relative;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 30px;
    display: flex;
    
}



.card__karma {
    width: 300px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px ;
    box-shadow: 5px 5px 5px 5px;
    padding-left: 20px;
    padding-right: 20px;

}

.card__karma--kar {
    position: relative;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 30px;
    display: flex;
    
    
}


.card__sup {
    

    width: 300px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px ;
    box-shadow: 5px 5px 5px 5px;
    padding-left: 20px;
    padding-right: 20px;

}

.card__sup--sup {
    position: relative;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 30px;
    display: flex;
    
}


.card__cal {
       
    width: 300px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px ;
    box-shadow: 5px 5px 5px 5px;
    padding-left: 20px;
    padding-right: 20px;

}

.card__cal--cal {
    position: relative;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 30px;
    display: flex;
    
    
}

.card__team--title{
    margin-top: 25px;
    padding-bottom: 10px;
}